useDynLib(spate)
exportPattern("^[[:alpha:]]+")
import("mvtnorm")
import("truncnorm")
S3method(print, spateMCMC)
S3method(print, spateSim)
S3method(summary, spateSim)
S3method(plot, spateMCMC)
S3method(plot, spateSim)